@{

    ViewBag.Title = "Blog";
    ViewBag.MetaDescription = "Specified behavior blog";
    ViewBag.MetaKeywords = "AI, Specified Behavior, About, GPT-4, Bard, Blog";
    ViewBag.MetaUrl = "https://specifiedbehavior.com/blog";
}

<main>
    <h1>Blog</h1>

    <a href="/blog/ComparingGoogleBardWithChatGPT">Comparing Google Bard with ChatGPT</a>
</main>