@{

    ViewBag.Title = "Blog";
    ViewBag.MetaDescription = "Specified behavior blog";
    ViewBag.MetaKeywords = "AI, Specified Behavior, About, GPT-4, Bard, Blog";
    ViewBag.MetaUrl = "https://specifiedbehavior.com/blog";
}

<main>
    <h1>Blog</h1>

    <ul>
        <li><strong>2023-05-14</strong> <a href="/experiments/PlayingWithD3JS">Playing with D3JS</a></li>
        <li><strong>2023-05-13</strong> <a href="/experiments/ComparingGoogleBardWithChatGPT">Comparing Google Bard with ChatGPT</a></li>
    </ul>
    
</main>