/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.ai-response {
  border: solid 1px $accentColor;
  border-radius: 4px;
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  background-color: rgba(27,31,35,0.05);
}

.col-wrapper
    @media (min-width: 992px)
      &
        display flex

.col-full
    width 100%

    @media (min-width: 992px)
      &
        flex 0 0 100%
        max-width 100%

.col-half
    width 100%

    @media (min-width: 992px)
      &
        flex 0 0 50%
        max-width 50%