/* site.css */

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav { padding-left: 8px; }
.nav-link { text-align: right; }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

    nav li a {
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        nav li a:hover {
            background-color: #ddd;
        }

main {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hero-text {
    padding: 50px 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

footer p {
    margin-bottom: 0;
}

.ai-response {
    clear: both;
    padding: 12px;
    margin: 12px;
    border: solid 1px #444;
    border-radius: 12px; 
    background-color: rgba(212, 212, 212, .6);
}

.post-date {
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 12px; 
}

.post-hero {
    float: right; 
    max-height: 25vh;
    margin-left: 20px; 
}

.page-image {
    max-height: 50vh;
    border: double #333; 
    padding: 4px;
    float: right;
}

/* This hides the action buttons from the conversation*/
.flex.justify-between.lg\:block {
    display: none;
}